Source: stt
Section: libs
Priority: standard
Maintainer: Dongyeol Lee <dy3.lee@samsung.com>, Sehwan Park <sehwan@samsung.com>
Build-Depends: debhelper (>= 5), libglib2.0-dev, libdbus-1-dev, 
 libmm-player-dev, libmm-common-dev, libmm-camcorder-dev, dlog-dev, libecore-dev
Standards-Version: 3.7.2

Package: libstt-dev
Section: libdevel
Architecture: any
Depends: libstt (= ${Source-Version})
Description: Speech To Text header files for STT development

Package: libstt
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Speech To Text client library and daemon

Package: libstt-dbg
Section: debug
Architecture: any
Depends: libstt (= ${Source-Version})
Description: Speech To Text library (unstripped)
